<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiaowu.dao.KechengDao" >
  <resultMap id="BaseResultMap" type="kecheng" >
  </resultMap>
  <sql id="Base_Column_List" >
    id,mingcheng,zhuanyeid,del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     SELECT
     k.id,k.mingcheng,k.zhuanyeid,k.del,z.mingcheng zymc
     from t_kecheng k,t_zhuanye z where k.zhuanyeid=z.id and k.id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_kecheng set del=1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="kecheng" >
    insert into t_kecheng (
    	<include refid="Base_Column_List" />
      )
    values (null, #{mingcheng,jdbcType=VARCHAR},#{zhuanyeid,jdbcType=INTEGER}, 0) 
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="kecheng" >
    update t_kecheng
    <set>
      <if test="mingcheng != null and mingcheng != ''" >
        mingcheng = #{mingcheng,jdbcType=VARCHAR},
      </if>
      <if test="zhuanyeid != null and zhuanyeid != 0" >
        zhuanyeid = #{zhuanyeid,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=VARCHAR},
      </if>
      </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAll" resultMap="BaseResultMap" >
  	select 
    k.id,k.mingcheng,k.zhuanyeid,k.del,z.mingcheng zymc
    from t_kecheng k,t_zhuanye z where k.zhuanyeid=z.id and k.del=0 
      <if test="zhuanyeid != null and zhuanyeid!=''" >
        and zhuanyeid=#{zhuanyeid}
      </if>
  </select>
  
  <select id="getAllByZhuanye" resultMap="BaseResultMap" >
  	select 
    k.id,k.mingcheng,k.zhuanyeid,k.del,z.mingcheng zymc
    from t_kecheng k,t_zhuanye z where k.zhuanyeid=z.id and k.del=0 and k.zhuanyeid=#{id,jdbcType=INTEGER}
  </select>

</mapper>