<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jiaowu.dao.ChengjiDao" >
  <resultMap id="BaseResultMap" type="chengji" >
  </resultMap>
  <sql id="Base_Column_List" >
    id,xueshengid,kaoshishi,kechengid,fenshu
  </sql>
  <insert id="insert" parameterType="chengji" >
    insert into t_chengji (
    	<include refid="Base_Column_List" />
      )
    values (null, #{xueshengid},#{kaoshishi},#{kechengid},#{fenshu}) 
  </insert>
 
  <update id="updateByPrimaryKeySelective" parameterType="chengji" >
    update t_chengji
    <set>
      <if test="fenshu != null" >
        fenshu = #{fenshu}
      </if>
      </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from  t_chengji
    where id = #{id,jdbcType=INTEGER}
  </delete>
  

  <select id="getAll" resultMap="BaseResultMap" >
  	 SELECT
     c.id,c.kaoshishi,c.fenshu,x.xingming xsxm,k.mingcheng kcmc
     from t_chengji c,t_xuesheng x,t_kecheng k 
     where c.xueshengid=x.id and c.kechengid=k.id 
     <if test="zhuanyeid != null and zhuanyeid!=0" >
        and x.zhuanyeid = #{zhuanyeid} 
     </if>
     <if test="xueshengid != null and xueshengid!=0" >
        and c.xueshengid = #{xueshengid} 
     </if>
     <if test="kechengid != null and kechengid!=0" >
       and c.kechengid = #{kechengid}
     </if>
  </select>
  
  
 <select id="isExists" resultType="java.lang.Integer" >
  	 SELECT
     count(*)
     from t_chengji where xueshengid = #{xueshengid} and kechengid = #{kechengid}
  </select>
  
</mapper>